# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual env
.venv/
env/
venv/

# Django stuff
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
